<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="~/content/search/css/style.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />  
    <link href="~/boostrap/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <link rel="shortcut icon" href="~/images/favicon.png" >
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/content/search/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/scripts/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
     <script>
             /* $(function () { */
                /*   $("#search").autocomplete({ */
                /*   source: "/Timkiem/Search", */
               /*    minLength: 2 */
                 /*  }); */
         /*    }); */
            $("#search").autocomplete({
                 source: function(request, response) {
                    $.ajax({
                         url: "@Url.Action("Search", "Timkiem")",
                        dataType: "json",
                        data: { search: $("#search").val() },
                        success: function(data) {
                             response($.map(data, function(item) {
                                 return { label: item.Tensach, value: item.Tensach };
                             }));
                         },
                        error: function(xhr, status, error) {
                             alert("Error")
                        }
                     })
                }
             })
      </script>
</body>
</html>
